.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, border-color 0.2s;
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit:fill;
}

.product-info {
    padding: 15px;
}

.product-info h5 {
    margin: 10px 0;
    font-size: 18px;
}

.product-info p {
    font-size: 14px;
    color: #666;
}

.product-info .price {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.product-card.selected {
	border: solid 1px rgb(81, 81, 81);
    transform: scale(1.05);



}


.botaoquantidade{
	width: 25px;
	height: 25px;
	border-radius: 2px;
	border: none;
	background-color: #ffffff;

}

.botaoquantidade:hover{
	background-color: rgb(186, 186, 186);
}

.botaoquantidade:focus{
	background-color: rgb(186, 186, 186);
	outline: none;
}


.quantity{
	width: 25px;
}

.quantity-control{
	display: flex;
	justify-content: center;
	margin-bottom: 10px;

}

.container{
	width: 100%;
	height: auto;
	padding: 200px 0 200px 0

}

.card-container{
	width: 100%;
	height: auto;
	gap: 40px;
	padding: 120px 0 80px 0;
}

.desc_prod{
    padding: 0 20px 0 20px;
    text-align: justify;
    font-size: 12px;
    height: 104px;
    word-break: break-all;
}

